@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: "Roboto", sans-serif;

    margin: 0;
    padding: 0;
}
.container {
    width: 50%;
    padding: 10px;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    box-shadow: -5px 5px 5px #eceff433;
}
.text {
    font-weight: 800;
    color: #000000;
}

.navbar {
    background-color: #333;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}


.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.content {
    margin-top: 80px;
}
.services__conatiner {
    display: flex;
    flex-wrap: wrap;
}
#service_con {
    width: 25%;
}
