<div class="mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Pizza</h5>
                    <p class="card-text"><strong>Price:</strong> $5</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Fries</h5>
                    <p class="card-text"><strong>Price:</strong> $2</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Burger</h5>
                    <p class="card-text"><strong>Price:</strong> $4</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Sushi</h5>
                    <p class="card-text"><strong>Price:</strong> $7</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Juice</h5>
                    <p class="card-text"><strong>Price:</strong> $1</p>
                </div>
            </div>
        </div>
    </div>
</div>

